<div class="faq-wrapper">
  <h2 class="faq-title">Часто задаваемые вопросы</h2>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let faq of faqs">
      <mat-expansion-panel-header>
        <mat-panel-title>{{ faq.question }}</mat-panel-title>
      </mat-expansion-panel-header>
      <p>{{ faq.answer }}</p>
    </mat-expansion-panel>
  </mat-accordion>

  <div *ngIf="role === 'admin'" class="admin-add-form">
    <h3>Добавить вопрос</h3>
    <input [(ngModel)]="newQuestion" placeholder="Вопрос" />
    <textarea [(ngModel)]="newAnswer" placeholder="Ответ"></textarea>
    <button (click)="addFaq()">Добавить</button>
  </div>


  <button class="back-btn" (click)="onBack()">Назад</button>
</div>
