<div class="profile-page">
  <div *ngIf="profile" class="profile-info">
    <ul>
      <li><strong>Дата регистрации:</strong> {{ profile?.regDate | date:'medium' }}</li>
      <li><strong>Количество игр:</strong> {{ profile?.gameNum }}</li>
      <li><strong>Счёт:</strong> {{ profile?.score }}</li>
    </ul>
  </div>

  <p *ngIf="error" class="error-message">{{ error }}</p>

  <div class="profile-buttons">
    <button class="start-game-btn" (click)="startGame()">Начать игру</button>
    <button class="rating-btn" (click)="goToRating()">Рейтинг</button>
    <button class="rating-btn" (click)="goToFaq()">О проекте</button>
    <button class="logout-btn" (click)="logout()">Выйти</button>
  </div>
</div>
