<div class="register-container">
  <h2>Регистрация</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="username">Имя пользователя</label>
      <input id="username" formControlName="username" type="text" required />
    </div>

    <div>
      <label for="email">Email</label>
      <input id="email" formControlName="email" type="email" required />
    </div>

    <div>
      <label for="password">Пароль</label>
      <input id="password" formControlName="password" type="password" required />
    </div>

    <button type="submit" [disabled]="isSubmitting">Зарегистрироваться</button>
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
    <button type="button" class="back-button" (click)="goBack()">Назад</button>

  </form>
  
</div>
